!!!
%html{:xmlns => 'https://www.facebook.com/2008/fbml'}
  %head
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body{:id => yield(:title).downcase!}
    = render :partial => '/layouts/header'
    = yield
